@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "My Custom Font";
    src: url('./public/SF\ Pro\ Japan\ Regular.woff2.otf') format("opentype");
    ;

}

body{
  font-family: "My Custom Font";
}